# Google Script Web App URL
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbziQd8428QWyTkhMUtZO7t3PM-X7YZCq1wroRmHXZWoCxNB9-NgHI-WdrfBJ-Ir6MTW/exec
# You need to create a Service Account in Google Cloud Console
# and share your spreadsheet with the service account email.
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SPREADSHEET_ID=
VITE_ADMIN_PASSWORD=Kahu@2026Segura
