# Google Script Web App URL
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbz5bNmG5Qce4j4WsecOTQOEqjAVdoyAv90DDUlvMCv6V7Ln8lH8G5f-j58tDSU_WcoB/exec
# You need to create a Service Account in Google Cloud Console
# and share your spreadsheet with the service account email.
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SPREADSHEET_ID=
ADMIN_PASSWORD=admin123
